<%= form_for(@foto, :html => {:multipart => true}) do |f| %>
  <% if @foto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foto.errors.count, "error") %> prohibited this foto from being saved:</h2>

      <ul>
      <% @foto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= f.label :nome %>
  </div>

  <div class="col-md-12 elementDistance">
    <%= f.text_field :nome %>
  </div>

  <div class="col-md-12">
    <%= f.label :retrato %>
  </div>

  <div class="col-md-12 elementDistance">
    <%= f.file_field :retrato %>
  </div>
  <div class="col-md-12 elementDistance">
    <%= f.submit :value => 'Concluir', :class => 'btn btn-primary' %>
  </div>
<% end %>
