<h1>Lista de Fotos</h1>
<hr/>

<%= link_to new_foto_path, :class => 'btn btn-default' do %>
  <i class='fa fa-pencil'></i>
  Nova Foto
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @fotos.each do |foto| %>
      <tr>
        <td><%= image_tag(foto.retrato.url(:thumb)) %></td>
        <td><%= foto.nome %></td>
        <td><%= link_to (foto), class: 'btn btn-default' do %>
          <i class='fa fa-eye'></i>
          Visualizar
        <% end %>
        <%= link_to edit_foto_path(foto), class: 'btn btn-default' do %>
          <i class='fa fa-edit'></i>
          Editar
        <% end %>
        <%= link_to foto, method: :delete, data: { confirm: 'Tem certeza que deseja deletar a foto?' }, class: 'btn btn-default' do %>
          <i class='fa fa-trash-o'></i>
          Excluir          
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
