<h1>Visualização de Fotos</h1>
<hr/>

<div class="col-md-12" id="notice"><%= notice %></div>

<div class="col-md-12">
  <strong>Nome:</strong>
</div>  

<div class="col-md-12 elementDistance">
  <%= @foto.nome %>
</div>

<div class="col-md-12">
  <strong>Imagem:</strong>
</div>

<div class="col-md-12 elementDistance">
  <%= image_tag(@foto.retrato.url(:medium)) %>
</div>

<div class="col-md-12">
	<%= link_to 'Editar', edit_foto_path(@foto), class: 'btn btn-primary' %> 
	<%= link_to 'Voltar', fotos_path, class: 'btn btn-default' %>
</div>