<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @foto.nome %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag(@foto.retrato.url(:medium)) %>
</p>

<%= link_to 'Editar', edit_foto_path(@foto), class: 'btn btn-primary' %> 
<%= link_to 'Voltar', fotos_path, class: 'btn btn-default' %>
